# Update Elastic Beanstalk to use Elastic IP (eliminates IPv4 hourly charges)

option_settings:
  aws:autoscaling:launchconfiguration:
    AssociatePublicIpAddress: false  # Disable auto-assigned public IPs
    
  aws:ec2:vpc:
    ELBScheme: public
    ELBSubnets: subnet-0b4ae9be80dda6fbe,subnet-08fd14c23a1761f0e,subnet-06e31c3feee16d6ca
    Subnets: subnet-0b4ae9be80dda6fbe,subnet-08fd14c23a1761f0e,subnet-06e31c3feee16d6ca
    AssociatePublicIpAddress: false  # No public IP for instances

  aws:elasticbeanstalk:environment:
    LoadBalancerType: application  # Use ALB instead of classic ELB

resources:
  Resources:
    ElasticIP:
      Type: AWS::EC2::EIP
      Properties:
        Domain: vpc
        
    ElasticIPAssociation:
      Type: AWS::EC2::EIPAssociation
      Properties:
        InstanceId: !Ref AWSEBAutoScalingGroup
        EIP: !Ref ElasticIP
